@import url("./global.css");
@import url("./tabmenu.css");

.headline{
    text-align: center;
    color: lightcoral;
}
.merit{
    list-style-position: inside;
    border-bottom: 1px solid;
    font-size: large;
}
h2{
    border-bottom: 1px solid var(--collor-sub);
}

.essential{
    background-color: var(--collor-yobi);
    float: right;
    border: 1px solid;
}
.text_box{
    width: 500px;
    height: 20px;
}
.admins_submit_btn {
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    left: 320px;
}
.admins_submit_btn:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}