.box {
  display: none;
  padding: 10px;
  clear: both;
}
.active_box {
  display: block;
  background-color: var(--collor-main);
}
.tab_btn{
  opacity: 0.5;
  padding: 10px;
  background-color: var(--collor-main);
  list-style: none;
  float: left;
  margin: 0%;
}
.active_btn{
  opacity: 1;
}
.tab_btns{
  margin: 0%;
  padding: 0%;
}
.headline{
  clear: both;
}